<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="rm_ros2_control_joints"
    params="
      tf_prefix
      initial_positions
    ">
    <xacro:macro name="loop" params="items:=^">
      <xacro:if value="${items}">
        <!-- pop first item from dict -->
        <xacro:property name="key" value="${list(items)[0]}" />
        <xacro:property name="value" value="${items.pop(key)}" />

        <joint name="${tf_prefix}${key}">
          <command_interface name="position" />
          <state_interface name="position">
            <!-- initial position for the mock system and simulation -->
            <param name="initial_value">${value}</param>
          </state_interface>
        </joint>

        <!-- recursively call myself -->
        <xacro:loop />
      </xacro:if>
    </xacro:macro>

    <!-- Passing a list copy, the original list is untouched: ${items} -->
    <xacro:loop items="${dict(initial_positions)}" />
  </xacro:macro>
</robot>